.App {
  height: 80vh;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: rgb(59, 159, 192);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, blue, rgb(51, 50, 50));
  line-height: 1.5;
}

.quiz-title {
  font-size: 100px;
}

.quiz-description {
  font-size: 50px;
}


.question {
  margin-bottom: 20px;
  font-size: 25px;
}

#p-n-buttons {
  margin-top: 20px;
}

.previous-button {
  margin-right: 15px;
}

.next-button {
  margin-left: 15px;
}

.answers {
  font-size: 20px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
